- if session[:username]
  %h3 Welcome, #{session[:username]}
- else
  %h1 Welcome!
  You can authorize to write and comment posts.
%br
This blog is demonstrating RoR skilling.
%br Some of this you can see at
= link_to "My Blog", controller: "posts"
%br Have a good time!
